<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>CARRITO DE COMPRAS</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dato_carrito : ${cart}">
                    <td th:text="${dato_carrito.nombre}"></td>
                    <td th:text="${dato_carrito.precio}"></td>
                    <td th:text="${dato_carrito.cantidad}"></td>
                    <td th:text="${dato_carrito.total}"></td>
                </tr>
            </tbody>
            
        </table>
        <div th:each="dato_orden : ${orden}">
            USTED DEBE PAGAR: <span th:text="${dato_orden.total_a_pagar}"></span>
        </div>
        
        <div th:text="${sesion}">
            
        </div>
        
    </body>
</html>
