<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>CARRITO DE COMPRAS</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dato_orden : ${cart}">
                    <td th:text="${dato_orden.nombre}"></td>
                    <td th:text="${dato_orden.precio}"></td>
                    <td th:text="${dato_orden.cantidad}"></td>
                    <td th:text="${dato_orden.total}"></td>

                </tr>
            </tbody>
            
        </table>
    </body>
</html>
