<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio | Taqui Store</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/style.css}" rel="stylesheet">
    </head>
    <body>
        <!-- INSERTAR LA PLANTILLA DE LA BARRA DE MENÚ -->
        <div class="caja-cabecera">
            <div th:insert="fragments/cabecera-pie :: fragmento-cabecera-1"></div>
            <div th:insert="fragments/cabecera-pie :: fragmento-cabecera-2-desktop"></div>
            <div th:insert="fragments/cabecera-pie :: fragmento-categorias-desktop"></div>
            <div th:insert="fragments/cabecera-pie :: fragmento-cabecera-2-mobile"></div>
            <div th:insert="fragments/cabecera-pie :: fragmento-cabecera-3-mobile"></div>
            <div th:insert="fragments/cabecera-pie :: fragmento-menu-hamburguesa-mobile"></div>
        </div>
        <h1>(((Súper precios en tus artículos favoritos)))</h1>
        <div sec:authorize="isAuthenticated()" th:text="${usuario_nombre} + ' ' + ${usuario_apellido}">
        </div>
        <div sec:authorize="isAuthenticated()" th:text="${usuario_roles}">
        </div>

    </body>
</html>
