<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/style.css}" rel="stylesheet">

    </head>
    <body>
        <div th:insert="fragments/cabecera-pie :: fragmento-cabecera"></div>

        <h1>Resultados de busqueda</h1>
        <!-- -->
        <!-- Palabra clave: <span th:text="${palabraClave}"></span> -->
        <form th:action="@{/productos/buscar}" autocomplete="off" method="GET">
            <h2>Filtrar por</h2>
            <!-- EL INPUT DE TIPO HIDDEN VA A PERMITIR GUARDAR LA PALABRA CLAVE PARA QUE LUEGO EL USUARIO LO PUEDA FILTRAR SIN PROBLEMAS -->
            <input type="hidden" name="p-palabraclave" th:value="${palabraClave}">
            <div th:insert="fragments/filtros-busqueda :: fragmento-categoria"></div>
            <div th:insert="fragments/filtros-busqueda :: fragmento-marca"></div>
            <div th:insert="fragments/filtros-busqueda :: fragmento-precio"></div>
            <div th:insert="fragments/filtros-busqueda :: fragmento-oferta"></div>

            <input type="submit" value="Filtrar">
        </form>    
        <div>
            <div>
                <span th:text="${contarproductos}"></span> elementos encontrados para "<span th:text="${palabraClave}"></span>"
            </div>

            <div th:insert="fragments/cuadros-productos :: fragmento-productos"></div>
        </div>

    </body>
</html>
