<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Oferta | Taqui Store</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/style.css}" rel="stylesheet">

    </head>
    <body>
        <div th:insert="fragments/cabecera-pie :: fragmento-cabecera"></div>
        <h1>Oferta</h1>
        <form th:action="@{/productos/oferta}" autocomplete="off" method="GET">
            <h2>Filtrar por</h2>
            
            
            <div th:insert="fragments/filtros-busqueda :: fragmento-categoria"></div>
            <div th:insert="fragments/filtros-busqueda :: fragmento-marca"></div>
            <div th:insert="fragments/filtros-busqueda :: fragmento-precio"></div>

            <input type="submit" value="Filtrar">

        </form>
        <div>
            <div th:insert="fragments/cuadros-productos :: fragmento-productos"></div>
        </div>

    </body>
</html>
