<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Oferta | Taqui Store</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/style.css}" rel="stylesheet">

    </head>
    <body>
        <div class="caja-cabecera">
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-cabecera-1"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-cabecera-2-desktop"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-categorias-desktop"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-cabecera-2-mobile"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-cabecera-3-mobile"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-menu-hamburguesa-mobile"></div>
        </div>
        <h1>Modo administrador - Oferta</h1>
        <div>
            <a th:href="@{/admin/productos/nuevo}">Agregar producto</a>
        </div>

        <form th:action="@{/admin/productos/oferta}" autocomplete="off" method="GET">
            <h2>Filtrar por</h2>
            
            
            <div th:insert="fragments/filtros-busqueda :: fragmento-categoria"></div>
            <div th:insert="fragments/filtros-busqueda :: fragmento-marca"></div>
            <div th:insert="fragments/filtros-busqueda :: fragmento-precio"></div>

            <input type="submit" value="Filtrar">

        </form>
        <div>
            <div th:insert="fragments/cuadros-productos :: fragmento-productos"></div>
        </div>

    </body>
</html>
