<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/style.css}" rel="stylesheet">

    </head>
    <body>
        <div class="caja-cabecera">
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-cabecera-1"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-cabecera-2-desktop"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-categorias-desktop"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-cabecera-2-mobile"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-cabecera-3-mobile"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-menu-hamburguesa-mobile"></div>
        </div>
        <div>
            <h1>Modo Administrador - Categorias</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="categoria : ${categorias}">
                        <td th:text="${categoria.id_categoria}">
                        <td th:text="${categoria.nombre}"></td>
                        <td th:text="${categoria.estado}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
