<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/style.css}" rel="stylesheet">

    </head>
    <body>
        <!-- INSERTAR LA PLANTILLA DE LA BARRA DE MENÚ -->
        <div class="caja-cabecera">
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-cabecera-1"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-cabecera-2-desktop"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-categorias-desktop"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-cabecera-2-mobile"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-cabecera-3-mobile"></div>
            <div th:insert="admin/fragments/admin-cabecera-pie :: fragmento-menu-hamburguesa-mobile"></div>
        </div>

        <h1>Modo administrador - Productos</h1>
        <div>
            <a th:href="@{/admin/productos/nuevo}">Agregar producto</a>
        </div>
        <h3>Filtros</h3>
        <form th:action="@{/admin/productos}" method="GET">
            <!-- MENU DE FILTROS -->
            <!-- INSERTAR LA PLANTILLA DEL FILTRO POR CATEGORIA -->
            <div th:insert="fragments/filtros-busqueda :: fragmento-categoria"></div>
            <!-- INSERTAR LA PLANTILLA DEL FILTRO POR MARCA -->
            <div th:insert="fragments/filtros-busqueda :: fragmento-marca"></div>
            <div th:insert="fragments/filtros-busqueda :: fragmento-precio"></div>
            <div th:insert="fragments/filtros-busqueda :: fragmento-oferta"></div>

            <input type="submit" value="Filtrar">
        </form>


        <h3>Lista de productos</h3>
        <div>En esta tabla se muestran todos los productos habilitados y deshabilitados. Los productos deshabilitados no se van a mostrar para los usuarios que no sean administradores</div>
        <!--
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Oferta</th>
                    <th>Precio normal</th>
                    <th>Precio de oferta</th>
                    <th>Estado Producto</th>
                    <th>Categoria</th>
                    <th>Estado Categoria</th>
                    <th>Marca</th>
                    <th>Estado Marca</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="registro: ${productos}">
                    <td th:text="${registro.id_producto}"></td>
                    <td th:text="${registro.nombre}"></td>
                    <td th:text="${registro.oferta}"></td>
                    <td th:text="${registro.precionormal}"></td>
                    <td th:text="${registro.preciooferta}"></td>
                    <td th:text="${registro.estado}"></td>
                    <td th:text="${registro.categoriaEntity.nombre}"></td>
                    <td th:text="${registro.categoriaEntity.estado}"></td>
                    <td th:text="${registro.marcaEntity.nombre}"></td>
                    <td th:text="${registro.marcaEntity.estado}"></td>
                </tr>
            </tbody>
        </table>
        -->
        <div th:insert="fragments/cuadros-productos :: fragmento-productos"></div>

    </body>
</html>

