
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* DEFINIR AQUI LAS "VARIABLES" QUE SE VAN A UTILIZAR */
:root{
    --color-blanco: rgb(255, 255, 255);
    --color-negro: rgb(0, 0, 0);
    --color-primario: rgb(219, 239, 225);
    --color-secundario: rgb(63, 134, 146);
    --color-terciario: rgb(13, 97, 106);
    --tipo-fuente-1: 'Roboto', sans-serif;
    --tamaño-fuente-1: 14px;
    --tamaño-fuente-2: 15px;

}

/* REINICIAR ESTILOS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--tipo-fuente-1);
}

/* OCULTAR LAS CLASES QUE VAN A CONFORMAR EL DISEÑO PARA DISPOSITIVOS MOVILES */
.movile-caja-cabecera-2{
    display: none;
}

.movile-caja-cabecera-3{
    display: none;
}

.movile-caja-categorias{
    display: none;
}

.menu-hamburguesa-caja-categorias{
    display: none;
}


/* ESTILOS PARA LA CABECERA */
.caja-cabecera{
    display: block;
    width: 100%;
}

/* PRIMERA CABECERA */
.caja-cabecera-1{
    background-color: var(--color-negro);
    color: var(--color-blanco);
    display: flex;
    justify-content: space-between;
}

/* CAJA CABECERA DE LA IZQUIERDA*/
.caja-cabecera-1-1{
    display: flex;
    align-items: center;
    padding: 1em;
}

/* ICONO DE UN PAQUETE */
.imagen-cabecera-1-1{
    width: 32px;
    height: 32px;
    margin-right: 1em;
    margin-left: 2em;
}

/* TEXTO A LADO DEL ICONO*/
.texto-cabecera-1-1{
    font-size: var(--tamaño-fuente-1);
}

/* CAJA CABECERA DE LA DERECHA (BARRA DE MENÚ) */
.caja-cabecera-1-2{
    display: flex;
    align-items: center;
    margin-right: 2em;
}

/* CADA UNO DE LOS BOTONES DEL MENÚ, INCLUYENDO EL TEXTO */
.texto-cabecera-1-2{
    background-color: black;
    text-decoration: none;
    padding: 1em 0 1em 0;
    margin: 0 1em;
    color: var(--color-blanco);
    font-size: var(--tamaño-fuente-1);
    border-bottom: solid 0.2em black;
    text-align: center;
}

/* CUANDO EL CURSOR ESTE SOBRE EL BOTÓN DEL MENÚ */
.texto-cabecera-1-2:hover{
    border-bottom-color: white;
}


/* SEGUNDA CABECERA */
.desktop-caja-cabecera-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-blanco)
}

/* CAJA CABECERA DE LA IZQUIERDA*/
.caja-cabecera-2-1{
    display: flex;
    flex-direction: row;
    text-align: center;
}

/* LOGO */
.imagen-logo{
    width: 100px;
    padding: 0.5em 0;
    margin-left: 2em;

}

/* CAJA CABECERA DEL MEDIO*/
.caja-cabecera-2-2 {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Esto permite que la caja se expanda horizontalmente */
    margin: 0 2em;
}

/* CAJA DE LA BARRA DE BUSQUEDA */
.caja-formulario-busqueda {
    display: flex;
    width: 100%; /* La barra de búsqueda ocupará todo el ancho disponible */
}

/* CAMPO PARA INTRODUCIR TEXTO PARA BUSCAR */
.input-barra-busqueda {
    flex-grow: 1; /* Esto permite que el campo de búsqueda se expanda horizontalmente */
    /* Resto de tus estilos... */
    background-color: var(--color-primario);
    border: none;
    border-radius: 15px 0 0 15px;
    padding: 1em;
    color: var(--color-negro);

}

/* CUANDO EL CURSOR ESTE SOBRE EL CAMPO PARA INTRODUCIR TEXTO PARA BUSCAR */
.input-barra-busqueda:hover, .input-barra-busqueda:focus{
    background-color: var(--color-blanco);
    border: solid 2px var(--color-terciario);
}

/* BOTON PARA INICIAR BUSQUEDA */
.boton-barra-busqueda{
    background-color: var(--color-terciario);
    border: solid 2px var(--color-terciario);
    padding: 0.6em 1.8em;
    border-radius: 0 15px 15px 0;
    cursor: pointer;

}

/* ICONO DE LA LUPA */
.imagen-boton-busqueda{
    width: 24px;
}

/* CUANDO EL CURSOR ESTE SOBRE EL BOTON PARA INICIAR BUSQUEDA */
.boton-barra-busqueda:hover{
    background-color: var(--color-negro);
    border: solid 2px var(--color-negro);
}

/* CAJA CABECERA DE LA DERECHA */
.caja-cabecera-2-3{
    display: flex;
    flex-direction: row;
    margin-right: 2em

}

/* CADA UNO DE LOS ICONOS DEL MENÚ */
.imagen-cabecera-2-3{
    width: 32px;
    margin-right: 0.5em;
}

/* CADA TEXTO DEL MENÚ */
.texto-cabecera-2-3 {
    display: flex;
    align-items: center;
    /* margin: 0 1em; */
    color: var(--color-negro);
    text-decoration: none;
    font-size: var(--tamaño-fuente-2);
    padding: 0.5em 1em;
    border-radius: 50px;
}


/* EL TEXTO DEL ULTIMO BOTÓN DEL MENÚ (NÚMERO 0)*/
.texto-cabecera-2-3-4{
    display: inline-block;
    width: auto;
    padding: 0 0.4em;
    color: var(--color-blanco);
    text-align: center;
    background-color: black;
    border-radius: 10px;
}

/* CUANDO EL CURSOR ESTE SOBRE EL TEXTO DEL MENÚ */
.texto-cabecera-2-3:hover{
    background-color: var(--color-primario)

}

/* TERCERA CABECERA */
.desktop-caja-categorias{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: var(--color-primario);
    padding: 0 0 0 2em;
}

/* CADA UNO DE LAS SECCIONES DE LAS CATEGORIAS */
.texto-categoria a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: var(--color-negro);
    font-size: var(--tamaño-fuente-1)
}

/* CUANDO EL CURSOR ESTE SOBRE UNA CATEGORIA */
.texto-categoria a:hover{
    background-color: var(--color-secundario);

    color: var(--color-blanco);
}

/* DISEÑO ADAPTABLE A MOVILES */
/* CUANDO EL ANCHO DE LA PANTALLA SEA MENOR A 850 pixeles */
@media (max-width: 850px){

    .caja-cabecera-1{
        flex-direction: column;
    }

    .caja-cabecera-1-1{
        border-bottom: solid 0.1em var(--color-blanco);
    }

    .caja-cabecera-1-2{
        align-items: center;
        justify-content: center;
        padding: 0.5em 0;
        margin: 0;
    }

}
/* CUANDO EL ANCHO DE LA PANTALLA SEA MENOR A 1000 pixeles */
@media (max-width: 1000px){

    /* OCULTAR EL DISEÑO PARA COMPUTADORAS Y ACTIVAR EL DISEÑO PARA MOVILES */
    .desktop-caja-cabecera-2{
        display: none;
    }

    .desktop-caja-categorias{
        display: none;
    }

    .movile-caja-cabecera-2{
        display: flex;
    }

    .movile-caja-cabecera-3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--color-primario);
    }


    /* MENU DE HAMBURGUESA */
    .abrir-menu{
        display: flex;
        flex-direction: row;
        cursor: pointer;
        align-items: center;
        margin-left: 2em;
    }
    .abrir-menu:hover, .texto-cabecera-2-3:hover{
        background-color: var(--color-secundario);
        color: var(--color-blanco);
        border-radius: 0;

    }

    .imagen-menu-hamburguesa{
        margin-left: 0.8em;
        margin-right: 0.5em;
        width: 48px;
    }

    .texto-menu-hamburguesa{
        margin-right: 0.8em;
        font-size: var(--tamaño-fuente-2);
    }
    .menu-hamburguesa-caja-categorias{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    .menu-hamburguesa-caja-categorias {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-primario);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        color: var(--color-blanco);

    }

    .menu-hamburguesa-caja-categorias.visible {
        opacity: 1;
        visibility: visible;
        overflow-y:scroll;
    }

    /* BLOQUEA EL SCROLL DE TODO EL DOCUMENTO HTML*/
    .scroll-bloqueado {
        overflow: hidden;
    }


    

    /* Estilos para las categorías */
    .texto-categoria  a{
        color: var(--color-blanco);
        font-size: var(--tamaño-fuente-2);


    }
    .texto-categoria, .cerrar-menu{
        display: block;
        width: 100%; /* Ocupa todo el ancho disponible */
        color: var(--color-blanco);
        text-decoration: none;
        font-size: var(--tamaño-fuente-2);
        box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
        text-align: center; /* Centra el texto horizontalmente */
        background-color: var(--color-secundario);

    }

    .texto-categoria a:hover,
    .cerrar-menu:hover{
        background-color: var(--color-terciario);
    }


    .cerrar-menu{
        padding: 1em;
        background-color: var(--color-secundario);
        cursor: pointer;
    }



    /*
    .movile-caja-cabecera-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .movile-caja-cabecera-3{
        display: block
    }
    
    .movile-menu-caja-categorias{
        height: 100%;
        width: 100%;
        background-color: red;
        z-index: 9999;
        text-align: center;
    }
    
    .movile-menu-caja-categorias .texto-categoria{
    text-decoration:none;

    }
    
    .movile-menu-caja-categorias .texto-categoria a{
        color: white
    }

    
    .texto-cabecera-2-3-1, .texto-cabecera-2-3-2, .texto-cabecera-2-3-3{
        display: none;
    }
    .imagen-logo{
        width: 75px;
    }
    
    */

}


@media (max-width: 740px){
    .imagen-cabecera-2-3{
        margin: 0;
    }
    
    .texto-cabecera-2-3-1,
    .texto-cabecera-2-3-2,
    .texto-cabecera-2-3-3{
        display: none;
    }
}


@media (max-width: 570px){
    .texto-menu-hamburguesa{
        display: none;
    }
    .imagen-logo{
        margin: 0 1em;
        width: 70px; 
    }
    
    .caja-cabecera-2-2{
        margin: 0 1em;
    }
}