<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- TABLA DE PRODUCTOS -->
        <div th:fragment = "fragmento-productos">
            <!-- SOLAMENTE PARA ADMINISTRADORES, VA A APARECER EL BOTON DE AGREGAR PRODUCTO -->
            <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a th:href="@{/productos/nuevo}">Agregar Producto</a>
            </div>
            
            <!--  MENSAJE EN CASO DE QUE NO HAYA PRODUCTOS -->
            <div th:if="${productos.isEmpty()}">
                <p>NO HAY PRODUCTOS A LA VENTA, PRUEBE QUITANDO ALGUNOS FILTROS PARA MOSTRAR LOS PRODUCTOS :(</p>
            </div>

            <!-- TODOS LOS PRODUCTOS A LA VENTA :) -->
            
            <!-- DISEÑO DE CUADRICULA -->
            <div>
                <!-- CADA CUADRICULA -->
                <div th:each="producto : ${productos}">
                    <!-- COLUMNAS -->
                    <div>
                        <!-- IMAGEN -->
                        <img th:src="@{/assets/productos/{filename}(filename=${producto.imagenProductoEntity.rutaImagen})}" width="250px" loading="lazy" >
                    </div>
                    <div>
                        <!-- MARCA -->
                        <div>
                            <span th:text="${producto.marcaEntity.nombre}"></span>
                        </div>
                        <!-- NOMBRE -->
                        <div>
                            <span th:text="${producto.nombre}"></span>
                        </div>
                        <!-- CODIGO -->
                        <div>
                            Código: <span th:text="${producto.codigo}"></span>
                        </div>
                        <!-- PRECIO EN FUNCÍÓN DEL ESTADO -->
                        <div th:if="${producto.estado == true}">
                            <div th:if="${producto.preciooferta != null}">
                                Precio de Oferta: S/. <span th:text="${#numbers.formatDecimal(producto.preciooferta, 1, 2)}"></span>
                            </div>
                            Precio Normal: S/. <span th:text="${#numbers.formatDecimal(producto.precionormal, 1, 2)}"></span>
                        </div>
                        <div th:unless="${producto.estado == true}">
                            Producto Agotado
                        </div>
                        
                        
                        <!-- AÑADIR AL CARRITO -->
                        <div>
                            <form th:action = "@{/cart}" method="POST">
                                <input type="hidden" th:value="${producto.id_producto}" name="id_producto">
                                <div>
                                    <!-- Cantidad: -->
                                    <input type="hidden" id="cantidad" name="cantidad" min="1" value="1">
                                </div>
                                <button type="submit">Añadir 1 unidad al carrito</button>
                            </form>
                        </div>
                        
                        
                        <!-- RUTAS PARA ADMINISTRADORES -->
                        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                            
                            <div>
                                <a th:href="@{/productos/editar/{id_producto} (id_producto = ${producto.id_producto}) }">Editar</a>
                            </div>
                            <div th:if="${producto.estado == true}">
                                <a th:href="@{/productos/cambioestadoafalse/{id_producto} (id_producto = ${producto.id_producto}) }">Inhabilitar</a>
                            </div>
                            <div th:unless="${producto.estado == true}">
                                <a th:href="@{/productos/cambioestadoatrue/{id_producto} (id_producto = ${producto.id_producto}) }">Habilitar</a>
                            </div>
                            <div>
                                <a th:href="@{/productos/eliminardefinitivamente/{id_producto} (id_producto = ${producto.id_producto}) }">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </body>
</html>
